<%= render @beer_club %>

<strong>Jäsenet:</strong>
<ul>
  <% @beer_club.members.each do |member| %>
    <li><%= link_to member.username, user_path(member) %></li>
  <% end %>
</ul>

<% if current_user %>
  <% membership = @beer_club.memberships.find_by(user: current_user) %>
  <% if membership %>
    <%= form_with(model: membership, url: membership_path(membership), method: :delete) do |form| %>
      <%= form.submit "End the membership" %>
    <% end %>
  <% else %>
    <%= form_with(model: Membership.new, url: memberships_path, method: :post) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.submit "Join the club" %>
    <% end %>
  <% end %>
<% end %>


<div>
<%= edit_and_destroy_buttons(@beer_club) %>
    <% if current_user&.admin? %>
      <%= button_to "Destroy this beer_club", @beer_club, method: :delete, class: "btn btn-danger"  %>
    <% end %>
</div>
