<%= render @user %>

<% if current_user && current_user.admin? %>
  <% if @user.account_closed? %>
    <%= button_to "Open account", open_account_user_path(@user), data: { turbo_method: :post, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% else %>
    <%= button_to "Close account", close_account_user_path(@user), data: { turbo_method: :post, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>
<% end %>



<p>Favorite Style: <%= @user.favorite_style %></p>

<% if @user.favorite_brewery %>
  <p>Favorite Brewery: <%= @user.favorite_brewery.name %></p>
<% else %>
  <p>No favorite brewery yet.</p>
<% end %>

<h3>Member of</h3>
<ul>
  <% @user.beer_clubs.each do |club| %>
    <li><%= link_to club.name, beer_club_path(club) %></li>
  <% end %>
</ul>


<p>
  Has made <%= @user.ratings.count %> rating, average rating <%= @user.average_rating %>
</p>

<h3>ratings:</h3>
<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= "#{rating.to_s}" %>
      <% if @user == current_user %>
        <%= link_to "Delete", rating, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "delete-rating-link" %>

      <% end %>
    </li>
  <% end %>
</ul>


<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% end %>
  <%= link_to "Back to users", users_path %>

  <% if @user == current_user %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
