<h2>List of ratings</h2>

<ul>
<% @ratings.each do |rating| %>
  <li>
    <% if rating.beer %>
      <%= rating.to_s %> by <%= link_to rating.user.username, user_path(rating.user) %>
    <% else %>
      No ratings: <%= rating.id %>
    <% end %>
  </li>
<% end %>
</ul>

<p>Number of ratings: <%= @ratings.count %></p>

<%= link_to 'Add a new rating', new_rating_path %>
