<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<h2>Beers with this style</h2>
<ul>
  <% @beers.each do |beer| %>
    <li><%= link_to beer.name, beer_path(beer) %></li>
  <% end %>
</ul>

<%= edit_and_destroy_buttons(@style) %>
    <% if current_user&.admin? %>
      <%= button_to "Destroy this style", @style, method: :delete, class: "btn btn-danger"  %>
    <% end %>